body {
    background: #0e1621;
    height: 100%;
    color: #ddcfba;
}

.nameChat {
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    margin-bottom: 10px;
}

.media {
    width: 100%;
    height: 100%;
}

.bazarWaterMark{
 position: fixed;
 left: 0;
 right: 0;
 bottom: 10px;

 font-size: 3.5vw;
 line-height: 0.2;
 text-align: center;
}